body{
    margin: 0px;
    background-color: hsl(260, 8%, 14%);
}
#headerbox header{
    background-color: hsl(210, 4%, 11%);
    color: azure;
    margin: 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}
#headertitle a h1{
    margin: 0;
    padding-block: 10px;
    margin-left: 20px;
    display: inline-flex;
    text-decoration: none;
    color: azure;
    font-size: 70px;
}
#headernav{
    width: 600px;
    padding-inline: 20px;
    padding-block: 10px;
    margin-left: 150px;
    font-size: 25px;
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
}
#headernavigation-projects{
    text-shadow: 3px 3px 5px hsl(130, 86%, 37%);
}
.headernavopt a{
    color: azure;
    text-decoration: none;
}
.headernavopt:hover{
    font-size: 28px;
    text-shadow: 3px 3px 5px hsl(266, 71%, 41%);
    text-decoration: underline;
}
#bodycontent{
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(180, 100%, 97%);
    font-size: 30px;
}
#projectscontainer{
    font-size: 30px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 170px;
}
.projectbox a{
    width: 1100px;
    height: 200px;
    padding: 20px;
    background-color: hsl(0, 0%, 9%);
    font-size: 25px;
    color: hsl(180, 100%, 97%);
    text-decoration: none;
    margin-bottom: 35px;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.projectbox a:hover{
    box-shadow: 3px 3px 5px hsla(180, 100%, 97%, 0.2);
}
.projectboxprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectboximg img{
    height: 150px;
    margin-top: 10px;
}
.projectboxdescription{
    margin-left: 25px;
}